@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');

:root {
    --a-text-header: #bb2528;
    --a-background: #F9F4EE;
    --a-text-on-img: #4f4f4f;
}

.about-us {
    margin-top: 150px;
    margin-bottom: 150px;
    display: block;
}

@media (min-width: 751px) {

    .about-us {
        display: flex;
        height: 113vh;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .about-us div {
        flex: 1;
    }

    section .about-us-img-background img {
        height: 100%;
        object-fit: cover;
        object-position: 25.129% 10.276%;
    }

    section div .about-us-text-on-img {
        width: 45vw;
    }
    section div .about-us-slides-container {
        width: 20%;
    }

}

section .about-us-elements-on-img {
    background: var(--a-background);
}

section div #about-us-text-header {
    text-align: left;
    color: var(--a-text-header);
    font-size: 22px;
    font-family: 'Grand Hotel', cursive;
    font-weight: 100;
    padding: 100px 0 0 50px;
}

section div .about-us-text-all-kind {
    word-wrap: break-word;
    text-align: left;
    font-size: 56px;
    font-family: Playfair Display, serif;
    font-weight: 600;
    margin: 0 0 5px 50px;
    line-height: 70px;
}

section div .about-us-img-symbol {
    width: 15%;
    margin: 0 0 5px 50px;
}

@media (max-width: 751px) {
    section div .about-us-text-on-img {
        width: 88vw;
    }
}

section div .about-us-text-on-img {
    text-align: left;
    color: var(--a-text-on-img);
    font-size: 18px;
    font-weight: 400;
    font-family: Fira Sans, serif;
    padding: 0 0 5px 50px;
}

section div .about-us-carousel {
    display: flex;
    margin-left: 30px;
    margin-right: 20px;

}
section div .about-us-slides-container {
    display: flex;
    justify-content: space-around;
}

section div .about-us-slides-container img{
    width: 50%;
}
@media (min-width: 751px) {
    section div .about-us-slides-container img{
        width: 20%;
    }
}
section div .about-us-prev, .about-us-next {
    background-color: var(--a-background);
    border: none;
}