.about-us {
    margin-top: 150px;
    margin-bottom: 150px;
}

section div .about-us-text-header {
    color: var(--redcolor);
    font-size: 22px;
    font-family: 'Grand Hotel', cursive;
    font-weight: 100;
    margin-bottom: 5px;
}

section div .about-us-img-symbol {
    width: 8%;
}

@media (min-width: 751px){

    .about-us {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 1;
    }
}

.about-us-elements-on-img {
    background: #F9F4EE;
}

section .about-us-carousel-img {
    display: flex;
    width: 11%;
}