#burger-checkbox {
    display: none;
}

.burger-icon {
    font-size: 3rem;
}

header .header-burger {
    display: none;
}

#burger-checkbox:checked~.header-burger {
    display: flex;
    flex-direction: column;
}

@media (min-width: 990px) {

    .burger-icon {
        display: none;
    }

    header .header {
        align-items: center;
        display: grid;
        grid-template-areas: "header-contacts header-contacts header-contacts"
            "header-logo header-nav header-social";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: space-between;
        vertical-align: baseline;
    }

    .header-contacts {
        grid-area: header-contacts;
    }

    .header-logo {
        grid-area: header-logo;
    }

    .header-nav {
        grid-area: header-nav;
    }

    .header-social {
        grid-area: header-social;
    }
}