@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com');

/* додати картинку до html і зробити так щоб вона була не видима*/

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.christmas-decor: {
    max-width: 980px;
    margin: auto;
}

@media (min-width: 768px) and (max-width: 991px) {

}
    #christmas-decor .christmas {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    height: 899px;
    width: 1174px;
    margin: auto;
}
#christmas-decor {
    background-image: url(../img/block-christmas-decore/christmas.jpeg); 
    background-size: cover;
    background-position: center;
    min-height: 400px;
    /*justify-content: ;
    align-items: ;*/
    text-align: left;
}
.christmas-block {
    background-color: var(--whitecolor);
    height: 400px;
    width: 650px;
    margin: 120px 100px 90px 200px;
    padding: 40px 120px 0px 130px; 
    word-spacing:0em;
    }
    
    .our-christmas-text {
        flex-direction: column;
        font-size: pm;
        display: grid;
        word-spacing:0em;
    }
    .christmas-text {
        display: grid;
        word-spacing:0em;
        text-align: left;
}
.christmas {
    height: 600px;
    width: 800px;
    margin: 0px 0px 0px 0px;
    padding: 60px 0px 0px 20px; 
    text-align: left;
}

@media (min-width: 600px) {
    #christmas-decor {
     display: flex
    }
}
 .christmas {
    flex-direction: row;
}
    .christmas-text {
    background-clip: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    align-items: flex-start;
    justify-content: space-around;
    flex: 1;
}

.christmas-text-curved {
    color: #bb2528!important;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Fira Sans', sans-serif;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
}
.christmas-text-large {
    color: var(--blackcolor);
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    padding: 0px;
    font-weight:bold;
}
.shop-bestsellers-symbol {
font-weight: 700;
display: inline-block;
position: relative;
max-width: 100%;
word-wrap: break-word;
}

.christmas-text-small {
    color: var(--darkgreycolor);
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    padding: 10px;
    }

    .christmas-button-left:hover {
        background-color: black;
        font-size: 10pt;
        margin: 5px;
        color: white;
    }
    .christmas-button-right:hover {
        background-color:black;
        font-size: 10pt;
        margin: 5px;
        color: white;
    }
        .christmas-button-left {
        background-color: var(--a-redcolor);
        color: var(--a-whitecolor);
        font-size: 10px;
        font-family: 'Fira Sans', sans-serif;
        border-width: 2px;
        border-style: solid;
        border-radius: 2px;
        padding: 18px;
        margin: 8px;
        }
        
    .christmas-button-right {
        background-color: var(--a-darkwhite);
        color: var(--a-blackcolor);
        font-size: 10px;
        font-family: 'Fira Sans', sans-serif;
        border-color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: 2px;
        padding: 15px;
        margin: 8px;
    }
    
    














