.faq-text-large {
    color: var(--blackcolor);
    font-size: 42px;
    font-family: 'Playfair Display', serif;
}

.faq-text-small {
    color: var(--darkgreycolor);
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
}

.faq-text-left {
    text-align: left;
    color: var(--darkgreycolor);
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
}

.faq-text-right {
    text-align: right;
    color: var(--darkgreycolor);
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
}

.faq-text-hidden {
    color: var(--darkgreycolor);
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
}