#faq {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
}


#faq .faq-text-hidden {
    color: var(--faq-text-hidden);
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
}


#faq .faq-text-question {
    text-align: left;
    color: var(--faq-text-question);
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
}



.faq-answers {
    display: grid;
    grid-template-columns: 1fr;
}

.faq-text-large {
    color: var(--faq-text-large);
    font-size: 42px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.faq-text-small {
    color: var(--faq-text-small);
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
}



.faq-image-divider img {
    width: 100px;
    vertical-align: baseline;
    margin: 10px 0px 10px 0px;
}

@media (min-width:751px) {
    .faq-answers {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}