/*block3-feature*/
main .features {
    display: grid;
    max-width: 980px;
    margin: auto;
    padding: 100px 32px 55px 32px;
}

.features-block {
    padding: 0px 15px 0px 15px;
}

.features-icon-frame {
    display: block;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #f9f4ee;
    color:  #f9f4ee;
}

main .features-icon {
    width: 26px;
    height: 26px;
    text-align: center;
}

.features-title-name {
    font-size: 24px;
    font-family: Playfair Display, serif;
    font-weight: 500;
    color: var(--darkgreycolor);
    margin-top: 20px;
    line-height: 32.64px;

}

.features-text {
    font-size: 16px;
    font-family: Fira Sans, sans-serif;
    font-weight: 400;
    color: var(--a-grey);
    line-height: 25.6px;
}


@media (min-width: 751px) {
    main .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}


@media (min-width: 975px) {
    main .features {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 975px) {
    .features-title-name {
        display: flex;
        flex-direction: column;
    }
}