header {
    margin: auto;
}

header a {
    text-decoration: none;
    color: var(--a-darkgreycolor);
    padding: 10px;
}

header .header-span {
    padding: 10px;
}


header a.header-black-text {
    color: var(--a-darkgreycolor);
}

header a.header-black-text:hover {
    color: var(--a-redcolor);
}

header a.header-red-text {
    color: var(--a-redcolor);
}

header a.header-red-text:hover {
    text-decoration: underline;
}

header .a-social-icons {
    justify-content: space-around;
}

header .img-social-icons {
    width: 25px;
}

header img {
    display: block;
    width: 100px;
}

header .header {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    vertical-align: baseline;
}

header .header-logo {
    margin-left: 15px;
}

header .burger-icon {
    text-align: right;
}

header .burger {
    display: flex;
    flex-direction: column;
}

header .header-contacts {
    color: var(--a-darkgreycolor);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    text-decoration: none;

}

header .navbar {
    display: flex;
    flex-direction: column;
    color: var(--blackcolor);
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    justify-content: space-around;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

header .header-social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10% 0% 0% 15%;
}