header {
    margin: auto;
}

header .a-social-icons {
    justify-content: space-around;
}

header .burger-icon {
    grid-area: burger-icon;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: right;
}

header .header {
    align-items: center;
    display: grid;
    grid-template-areas:
        "header-logo burger-icon"
        "header-burger header-burger";
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    vertical-align: baseline;
}

header .header-burger {
    grid-area: header-burger;
    padding-bottom: 100px;
}

header .header-contacts {
    color: var(--header-text-default);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    justify-content: space-around;
    max-width: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

header .header-logo {
    grid-area: header-logo;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
}

header .header-social {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    padding-top: 10%;
}

header .img-social-icons {
    width: 25px;
}

header .navbar {
    display: flex;
    flex-direction: column;
    color: var(--header-text-default);
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    justify-content: space-around;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

header .header-span {
    padding: 10px;
}

header a {
    text-decoration: none;
    color: var(--header-text-default);
    padding: 10px;
}

header a.header-nav-text {
    color: var(--a-header-nav-text);
}

header a.header-nav-text:hover {
    color: var(--a-header-nav-text-hover);
}

header a.header-contacts-text {
    color: var(--a-header-contacts-text);
}

header a.header-contacts-text:hover {
    text-decoration: underline;
}

header img {
    display: block;
    width: 100px;
}


@media (min-width: 990px) {

    .burger-icon {
        display: none;
    }

    header a.header-contacts-text {
        color: var(--a-header-contacts-text-w990);
    }

    header a.header-contacts-text:hover {
        text-decoration: underline;
    }

    header .header-span {
        color: var(--a-header-contacts-text-w990);
    }

    header .header {
        align-items: center;
        display: grid;
        grid-template-areas: "header-contacts header-contacts header-contacts"
            "header-logo header-nav header-social";
        grid-template-columns: 1fr 1.1fr 0.5fr;
        justify-content: space-between;
        vertical-align: baseline;
        margin-top: 0;
    }

    header .header-contacts {
        background-color: var(--header-contacts-background);
        display: grid;
        font-size: 16px;
        grid-area: header-contacts;
        grid-template-columns: 1fr 2fr 1fr;
        padding: 0px;

    }

    header .header-logo {
        align-items: center;
        grid-area: header-logo;
        padding: 10px;
    }

    header .header-social {
        align-items: center;
        display: grid;
        grid-area: header-social;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0% 0% 0% 10%;
        padding: 0;
    }

    header .navbar {
        align-items: center;
        display: grid;
        font-size: 16px;
        grid-area: header-nav;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}