
a {
    text-decoration: none;
}

#faq {
    background-image:url(../img/cta-offer/cta-offer-background.png) ;
}

h1  {display: none;}

.header-top {
    background-color: red;
    text-decoration: none;
    display: inline;
}

footer {
    background-color: #232323;
    color: white;
    font-family: sans-serif;   
    text-align: left; 
    grid-column-gap: 20px;
    width: 100%;
    
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    text-align: left;
   
}

.social-icon-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.footer-visit-us, .numbers-to-contact, #footer-navigation, .left-panel-footer{
display: flex;
flex-direction:column;
justify-content: space-around;
}

.redline{
    height: 2px;
    width: 12%;
    background-color: #bb2528;
}