/* Oleksandr Sheniak CSS code */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Grand+Hotel&family=PT+Sans&family=Playfair+Display:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --a-header-contacts-text: #bb2528;
    --a-header-contacts-text-hover: #bb2528;
    --a-header-contacts-text-w990: #fff;
    --a-header-contacts-text-w990-hover: #fff;
    --a-header-nav-text: rgb(35, 35, 35);
    --a-header-nav-text-hover: #bb2528;
    --a-text-default: rgb(35, 35, 35);
    --a-text-default-hover: #bb2528;
    --button-contact-bg: #fff;
    --button-contact-bg-hover: #232323;
    --button-contact-text: #232323;
    --button-contact-text-hover: #fff;
    --button-shop-bg: #bb2528;
    --button-shop-bg-hover: #232323;
    --button-shop-text: #fff;
    --cta-form: #fff;
    --h2-text: #bb2528;
    --header-contacts-background: #bb2528;
    --header-text-default: rgb(35, 35, 35);
    --faq-text-hidden: #737373;
    --faq-text-large: #232323;
    --faq-text-small: #4f4f4f;
    --faq-text-question: #4f4f4f;
    --features-icon-frame-color: #f9f4ee;
    --features-title-color: rgb(35, 35, 35);
    --features-text-color: rgb(115, 115, 115);
    --a-dash-color: #bb2528;
    --bestsellers-title-name-color: #bb2528;
    --bestsellers-big-text-color: #232323;
    --bestsellers-text-color: #737373;
    --bestsellers-frame-color: rgb(249, 244, 238);
    --bestsellers-products-name-color: #737373;
    --bestsellers-products-name-hover-color: #bb2528;
    --bestsellers-price-color: #bb2528;
    --bestseller-button-border-color: #bb2528;
    --bestsellers-button-text-color: #bb2528;
    --bestseller-button-backgraund-color: #fff;
    --bestsellers-button-background-hover-color: #bb2528;
    --bestsellers-button-text-hover-color: #fff;
    --block-girl: #fff;
    --partners-blog-symbol-name: #737373; 
    --partners-blog-title-color: #232323;
    --partners-blog-text-color: #737373;
    --partners-blog-date-color: #232323;
    --partners-blog-carousel-button-color: #bb2528;
    --contacts-title-color: white;
    --contacts-information-color: white;
    --contacts-button-color: white;
    --contacts-text-color: white;
    --contacts-button-background-color: #bb2528;
    --contacts-form-background-color: white;
    --contacts-text-hover-color: black;

    /* --------------- */
    /* --a-darkgreycolor: #232323;
    --a-grey: #737373;
    --a-redcolor: #bb2528;
    --a-whitecolor: #fff;
    --beigecolor: #f9f4ee;
    --blackcolor: #000;
    --darkgreycolor: #232323;
    --redcolor: #bb2528;
    --whitecolor: #fff;
    --a-light-grey: rgb(249, 244, 238); */
}

/* 
body {
	color: rgb(79, 79, 79);
	font: 12px Tahoma, sans-serif;
	background-color: #f8f8f8;
	margin: 0;
} */

img {
    display: block;
    width: 100%;
}

h2 {
    color: var(--h2-text);
    font-size: 22px;
    font-family: 'Grand Hotel', cursive;
}

.mw-1200 {
    margin: auto;
    max-width: 1200px;
}

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}