@media (min-width: 600px) {
    header .our-happy-clients {
        display: flex;
    }
}


/** {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*/

.video {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 100px;
    padding: 20px 20px 20px 20px;
    background-size: cover;
    background-position: right;
    max-width: none;
    background-attachment: fixed;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}