@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-align: center;
    
}



@media (min-width: 600px) {
    header .our-happy-clients {
        display: flex;
    }   
}