/*block10-partner-blog*/
main #partners-blog {
    max-width: 1200px;
    margin: 60px 24px 60px 24px;
}

.partners-blog-girl {
    background-image: url(../img/partner-blog/girl.webp);
    background-size: cover;
    background-position: center;
    height: 667px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    justify-content: end;
}

.partners-blog-girl-decoration {
    font-size: 16px;
    font-family: Fira Sans, sans-serif;
    font-weight: 700;
    color: var(--block-girl);
    text-transform: uppercase;
    text-align: left;
}

.partners-blog-girl-text {
    font-size: 24px;
    line-height: 1.4;
    color: var(--block-girl);
    font-family: Playfair Display, serif;
    font-weight: 700;
    text-align: left;
    margin-top: 20px;
}

.partners-blog-girl-date {
    font-size: 14px;
    font-family: PT Sans, sans-serif;
    font-weight: 400;
    color: var(--block-girl);
    margin-top: 25px;
}

.partner-blog-all-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.partners-blog-symbol {
    margin-top: 20px;
    width: 10%;
    display: flex;
    justify-self: center;
    align-items: center;

}

.partners-blog-symbol-name {
    font-size: 16px;
    font-family: Fira Sans, sans-serif;
    font-weight: 700;
    color: var(--a-grey);
    text-transform: uppercase;
}

.partners-blog-title {
    font-size: 24px;
    font-family: Playfair Display, serif;
    font-weight: 500;
    color: var(--a-darkgreycolor);
}

.partners-blog-text {
    font-size: 16px;
    font-family: Fira Sans, sans-serif;
    font-weight: 400;
    color: var(--a-grey);
}

.partners-blog-date {
    font-size: 14px;
    font-family: PT Sans, sans-serif;
    font-weight: 400;
    color: var(--whitecolor)
}

.partners-blog-date {
    font-size: 14px;
    font-family: PT Sans, sans-serif;
    font-weight: 400;
    color: var(--blackcolor);
}