#services-instagram {
    margin: auto;
    max-width: none;
    padding-right: 0;
    padding-left: 0;
}



.prev-btn {
  border: none ;
  position: absolute;
}

.next-btn {
    border: none;
    position: absolute;
}