@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
.shop-tabs {
    padding: 30px;
}

@media (min-width:751px) {
    .shop-tabs-title {
        padding: 25px;
    }
}

@media (min-width:980px) {
    .shop-tabs-title {
        padding: 30px;
    }
}

@media (min-width:1400px) {
    .shop-tabs-title {
        padding-left: 200px;
        padding-right: 200px;
    }
}

section .shop-tabs-text-header {
    color: var(--redcolor);
    font-size: 22px;
    font-family: 'Grand Hotel', cursive;
    font-weight: 100;
    margin-bottom: 5px;
}

section .shop-tabs-text {
    font-size: 42px;
    font-weight: 600;
    font-family: Playfair Display, serif;
    margin-bottom: 5px;
}

section .shop-tabs-symbol {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 8%;
}

section .shop-tabs-text-click {
    color: #4f4f4f;
    font-size: 18px;
    font-weight: 400;
    font-family: Fira Sans, serif;
}

section .shop-tabs-buttons {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #4f4f4f;
    font-size: 18px;
    font-weight: 400;
    font-family: Fira Sans, serif;
    display: flex;
}

section .shop-tabs-product {
    border: 2px solid #F9F4EE;
    text-align: center;
}

@media (min-width: 751px) {
    section .shop-tabs-products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding: 25px;
    }
}

@media (min-width: 980px) {
    section .shop-tabs-products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        padding: 30px;
    }
}

@media (min-width: 1400px) {
    section .shop-tabs-products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        padding-left: 200px;
        padding-right: 200px;
    }
}

section .shop-tabs-product-img {
    height: auto;
}

section .shop-tabs-product-name {
    text-decoration: none;
    font-size: 18px;
    font-family: Fira Sans, sans-serif;
    font-weight: 400;
    color: var(--a-grey);
}

section .shop-tabs-product-name:hover {
    color: var(--a-redcolor);
    text-decoration: underline;
}

section .shop-tabs-product-price {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: Fira Sans, sans-serif;
    font-weight: 400;
    color: var(--a-redcolor);
}

section .shop-tabs-product-button {
    margin-top: 10px;
    color: var(--a-redcolor);
    font-size: 10.8px;
    border: var(--a-redcolor) 2px solid;
    padding: 10px;
    background: white;
}