@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.shop-tabs {
    margin-top: 150px;
    margin-left: 230px;
}

section .shop-tabs-text-header {
    color: var(--redcolor);
    font-size: 22px;
    font-family: 'Grand Hotel', cursive;
    font-weight: 100;
    margin-bottom: 5px;
}

section .shop-tabs-text {
    font-size: 42px;
    font-weight: 600;
    font-family:Playfair Display,serif;
    margin-bottom: 5px;
}

section .shop-tabs-symbol {
    margin-bottom: 5px;
    width: 8%;
}

section .shop-tabs-text-click {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 400;
}

section .shop-tabs-buttons {
    display: flex;
}

section .shop-tabs-product {
    border: 2px solid black;
}

@media (min-width: 751px) {
    section .shop-tabs-products {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 980px) {
    section .shop-tabs-products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


section .shop-tabs-product-name{
    font-size: 18px;
    font-family: Fira Sans,sans-serif;
    font-weight: 400;
    color: var(--a-grey);
}

section .shop-tabs-product-name:hover {
    color: var(--a-redcolor);
    text-decoration: underline;
}


section .shop-tabs-product-price{
    font-size: 18px;
    font-family: Fira Sans,sans-serif;
    font-weight: 400;
    color: var(--a-redcolor);
}

section .shop-tabs-product-button{
    font-size: 10.8px;
    border: var(--a-redcolor) 3px solid;
    padding: 10px;
    background: white;
}