@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap");
.testimonials-top {
    text-align: left;
}

.reviews-testemonials {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    padding: 5px;
    display: flex;
    grid-template-columns: 1fr 1fr;
}

@media (min-width: 600px) {
    .reviews-testemonials {
        display: flex;
    }
    .reviews-testemonials {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}

.testimonials-testimonials {
    max-width: 980px;
    margin: auto;
}

.reviews-testemonials {
    gap: 0px;
    grid-template-columns: 600px 600px;
    display: grid;
}

@media (min-width: 500px) {
    .reviews-testemonials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
    }
}

@media (min-width: 660px) {
    .reviews-testemonials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
    }
}

.testimonials-text-curved {
    color: #bb2528 !important;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: "Fira Sans", sans-serif;
    padding: 10px;
    text-align: left;
    margin-top: 20px;
}

.testimonials-text-large {
    color: var(--blackcolor);
    font-size: 42px;
    font-family: "Playfair Display", serif;
    padding: 10px;
    text-align: left;
    margin-top: 20px;
}

.shop-bestsellers-symbol {
    font-weight: 700;
    display: inline-block;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
}

.testimonials-text-small {
    color: var(--darkgreycolor);
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    text-align: left;
    margin-top: 20px;
}


/*  @media (min-width: 600px) {
	.testimonials-top {
		display: flex;
	}
}*/

#testemonials-testemonials {
    padding: 90px 25px;
}

.testimonials-top {
    padding: 20px 25px;
}

.prev {
    display: flex;
    margin: 5 px 0 px 5 px 0 px;
    font-size: 10px;
    margin: 8px;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 1px;
    background-color: transparent;
}

.next {
    display: flex;
    margin: 5 px 0 px 5 px 0 px;
    font-size: 10px;
    margin: 8px;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 1px;
    background-color: transparent;
}

.carousel .slides-container {
    display: flex;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
}

@media (min-width:600) {
    .carousel .slides-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:800) {
    .carousel .slides-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}