
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


@media (min-width: 600px) {
     .testimonials-testimonials {
        display: flex;
    }   
}

#testimonials-testimonials {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    
    }

    .testimonials-top a {
        text-transform: uppercase;
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px; 
    }

    @media (min-width: 600px) {
        .testimonials-testimonials {
           display: flex;
           align-items: center;
       }/*сдля того щоб блок переносився вниз коли екран буде зменшений*/
       #services-baners {
           flex-direction: row;
           align-items: center;
           justify-content: space-around;
           flex: 1;
       }
        .testimonials-first-image url {
             background-image: url(../img/testimonials-testimonials/family.webp);
             background-size: cover;
             background-position: center;
             display: flex;
             justify-content: center;
             align-items: center;
             flex-direction: column;
             display: block;
    margin: auto;
        }
        .testimonials-second-image-right url {
            background-image: url(../img/testimonials-testimonials/happy-family.jpeg);
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: block;
            margin: auto;
       }
       .testimonials-right-two {
       background-image: url(img/testimonials-testimonials/happy-family-with-tree.jpg);
       background-size: cover;
       background-position: center;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       display: block;
    margin: auto;
       }
.testimonials-text-curved {
    color: #bb2528!important;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Fira Sans', sans-serif;
    padding: 10px;
}
.testimonials-text-large {
    color: var(--blackcolor);
        font-size: 42px;
        font-family: 'Playfair Display', serif;
        padding: 10px;
}
.shop-bestsellers-symbol {
    font-weight: 700;
    display: inline-block;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
}
.testimonials-text-small {
    color: var(--darkgreycolor);
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
}